*{
    margin: 0rem;
    box-sizing: border-box;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    background-color: bisque;
}

a {
    background-color: black;
    color:white;
    float: left;
    width: 10%;
    text-align: left;
    padding: 1rem;
}


p{
background-color: rgb(240, 103, 103);
    float: left;
    width: 25%;
    font-family: 'Times New Roman', Times, serif;
    
}